.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
   height: 100vh; /* - Titlebar si fixe à 30px */
  max-height: 100vh;
  overflow: hidden;
  background: linear-gradient(145deg, #1e293b, #0f172a);
}

.login-form {
  background: #fff;
  padding: 2.5rem;
  border-radius: 12px;
  width: 100%;
  max-width: 300px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.login-logo {
  width: 320px;
  /* margin-bottom: 1rem; */
}

h2 {
  margin-bottom: 1rem;
  color: #1e293b;
  font-weight: 500;
}

.form-group {
    display: flex;
  position: relative;
  margin-bottom: 1.8rem;
  text-align: left;
}

.form-group label {
  position: absolute;
  top: 0.85rem;
  left: 1rem;
  color: #64748b;
  font-size: 0.9rem;
  transition: all 0.2s ease;
  pointer-events: none;
}

.form-group input {
  width: 100%;
  padding: 1.2rem 1rem 0.6rem;
  border: 1px solid #cbd5e1;
  border-radius: 8px;
  font-size: 1rem;
  outline: none;
  transition: 0.2s;
}

.form-group input:focus {
  border-color: #3b82f6;
  background-color: #f1f5f9;
  border-width: 1px;
}

.form-group.filled label,
.form-group input:focus + label {
  top: 0.3rem;
  left: 1rem;
  font-size: 0.75rem;
  color: #3b82f6;
 
}

.btn-login {
  background-color: #1e293b;
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 6px;
  font-size: 1rem;
  cursor: pointer;
  width: 100%;
  margin: 0;
  transition: background 0.3s;
}

.btn-login:hover {
  background-color: #2563eb;
}


.exit-btn{
  font-size: small;
  font-weight: 100;
  background: transparent;
  border: none;
  cursor: pointer;
}

.exit-btn:hover{
color:red
}
@keyframes shake {
  0% { transform: translateX(0); }
  20% { transform: translateX(-6px); }
  40% { transform: translateX(6px); }
  60% { transform: translateX(-4px); }
  80% { transform: translateX(4px); }
  100% { transform: translateX(0); }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #dc2626;
  margin-top: 1rem;
  font-weight: 500;
  animation: shake 0.4s ease;
}
