.assure-select {
  position: relative;
}

.assure-select input {
  width: 100%;
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.assure-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: white;
  border: 1px solid #ddd;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 0 0 6px 6px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.05);
}

.assure-dropdown li {
  padding: 0.5rem;
  cursor: pointer;
}

.assure-dropdown li:hover {
  background-color: #f0f0f0;
}
